<div class="container">
  <div class="row">
    <h2>Introduction</h2>
    <p>안녕하세요,<br>
	   저는 2016년 7월에 샌안토니오 제일 한인 장로교회 (First Korean Presbyterian Church)에 부름을 받아 담임목사로 섬기게 된 정신찬 목사입니다.
	   <br>
	   저는 사랑하는 아내 한명자의 남편이자 3명의 자녀 (정주안, 정주성, 그리고 정주예)의 아빠이기도 합니다.
	   <br>
       저는 한국에서 목회학 석사 (M.Div) 과정을 거쳐 목사 안수(예장합동)를 받자마자 말씀을 더 깊이 있게 연구하고 하는 갈급함을 채우기 위해 유학을 준비하던 중에 보스턴 근방에 있는 고든콘웰 신학교 (Gordon-Conwell Theological Seminary, South Hamilton, MA)에서 신약학 (Th.M)을 공부하면서 말씀 연구의 과정을 통해 많은 은혜를 경험케 하셨습니다.
       <br>
       하나님께서 더 깊은 학문의 길을 열어주셔서 싸우쓰웨스턴 신학교 (Southwestern Baptist Theological Seminary, Fort Worth, TX) 에서 설교학 전공 (Ph.D) 과 신약학 부전공의 과정에서 말씀을 연구하고, 효과적으로 전달할 수 있는 설교자로 훈련시키셨습니다.2017년 하나님의 은혜로 논문이 통과되어 박사학위를 받고 졸업하게 되었습니다.
       <br>
       하나님께서 세우신 이 교회를 통해 말씀의 은혜를 함께 나누는 믿음의 공동체를 함께 세워갈 수 있기를 기대합니다. </p>	
  </div>
   <div class="row">
    <h2>Vision</h2>
    <p> 예수 그리스도의 교회인 샌안토니오 제일 한인 장로교회는 하나님의 말씀에 기초하여, 하나님의 영광을 드러내는 그리스도의 제자를 세워가며, 이 지역과 더 나아가 온 세상에 복음을 전하기 위해 존재한다.
	첫째는,
    말씀위에 든든히 세워져가는 교회를 이루려고 합니다.

	말씀 중심의 예배를 통해서 성도들이 하나님의 임재를 경험하고, 올바른 신앙을 갖도록 격려하고자 합니다.

	하나님의 말씀이 강단에서 올바로 선포되고, 말씀의 은혜가 강단으로부터 흘러 성도들의 삶에 도전과 변화를 주는 것은 목회 사역에서 핵심 사역 중에 하나임을 강조해도 지나침이 없을 것입니다.


	둘째는,
	하나님의 영광을 위해 그리스도의 제자를 세우는 교회를 이루려 합니다.

	예수님의 지상에서의 삶과 사역을 보면, 예수님 가시는 곳에 많은 무리들이 예수님을 따라다녔던 것을 볼 수 있습니다.
		
	예수님의 기적의 사건들을 두 눈으로 확인하고, 소문으로 듣고, 보리떡과 생선으로 배불리 먹는 체험도 직접 경험했습니다.

	그러나 예수님은 그들 모두를 제자라 부르지 않습니다. 예수님의 제자는 단순히 물리적으로 예수님을 쫓는 것만으로 부족합니다. 예수님의 삶을 본받아 실천하는 사람이 진정한 제자인 것입니다.

	샌안토니오 제일 한인 장로교회 온 성도들이 예수님을 따랐던 단순한 무리가 아닌 그리스도의 향기를 삶 속에서 전하는 제자의 삶을 살아갈 수 있도록 훈련하고자 합니다.

	단순히 교회에 참석하는 사람이 아닌, 하나님의 영광을 위해 복음에 의해 믿음을 갖고, 복음을 위해 헌신하는 그리스도의 제자가 되는 교회를 이루려 합니다.



		
	셋째는, 세상을 섬기는 교회로 세워가려 합니다.

	예수님은 산상수훈의 말씀을 통해서 우리를 소금과 빛으로 부르셨습니다.

	그런데 우리를 부르시고 보내시려는 곳은 교회가 아닌 세상입니다.
	우리를 교회 안에서만 빛으로, 교회 안에서만 소금으로 부르지 않으셨습니다.

	오히려 세상으로 보내셔서 우리가 소금과 빛으로서의 사명을 감당하기를 원하십니다.

	이 교회가 지역을 섬기는 사역을 통해서 소금과 빛으로 부르심을 받은 사명을
	감당하려고 합니다. 
    </p>	
  </div>
</div>