 <body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
  <div class="container">
    <div class="row">
      <nav class="col-sm-2" id="myScrollspy">
        <ul class="nav nav-pills nav-stacked">
          <li><a href="#section1">Korean Service</a></li>
          <li><a href="#section2">English Service</a></li>
          <li><a href="#section3">Youth Service</a></li>
          <li><a href="#section4">Children's Service</a></li>    
        </ul>
      </nav>
      <div class="col-sm-10">
        <div id="section1">
          <h1>Korean Service</h1>
          <p>Try to scroll this page and look at the navigation list while scrolling!</p>
        </div>
        <div id="section2">
          <h1>English Service</h1>
          <p>Try to scroll this page and look at the navigation list while scrolling!</p>
        </div>
        <div id="section3">
          <h1>Youth Service</h1>
          <p>Try to scroll this page and look at the navigation list while scrolling!</p>
        </div>
        <div id="section4">
          <h1>Children's Service</h1>
          <p>Try to scroll this page and look at the navigation list while scrolling!</p>
        </div>
      </div>
    </div>
  </div>
</body> 