// Place all the styles related to the FKPC controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
      position: relative;
  }
  ul.nav-pills {
      top: 200px;
      position: fixed;
  }
  .col-sm-10 {
      width: 200px;
      height: 500px;
      font-size: 28px;
      overflow-x: hidden;
      overflow-y: scroll;
      padding-top: 200px;
      position: relative;
  }
  #km {color: #fff; background-color: #1E88E5; height: 500px;}
  #em{color: #fff; background-color: #673ab7; height: 500px;}
  #ym {color: #fff; background-color: #ff9800; height: 500px;}
  #cm {color: #fff; background-color: #00bcd4; height: 500px;}

  
  @media screen and (max-width: 810px) {
    #km, #em, #ym, #cm {
        margin-left: 150px;
    }
  }

  #map-canvas {
  width: 100%;
  height: 500px;
}
