<!DOCTYPE html>

<html>
  <head>
    <title>FKPC EM</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAo-twSd-MtSNnJGH6Jw4bWLnYV-VjdVec 
">
    </script>
    
      <%= yield %>
    
  </body>

</html>
